.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.navbar .logo {
  width: 20vw;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: yellow;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: yellow;
  border: 1px solid yellow;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.search input {
  border-radius: 10px;
  outline: none;
  height: 30px;
  width: 200px;
  padding: 4px;
}
.navbar button:hover {
  color: Black;
  background-color: yellow;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid yellow;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}
.navbar-search-icon image{
  height:10px;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: yellow;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
/* .header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #13131a;
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: #13131a;
} */
